[Unit]
Description=BTC Range Bot - Dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/binance-aifout-bot/dashboard_btc_range
EnvironmentFile=-/opt/binance-aifout-bot/dashboard_btc_range/botdash-btc-range.env
ExecStart=/opt/binance-aifout-bot/dashboard_btc_range/.venv/bin/python /opt/binance-aifout-bot/dashboard_btc_range/app.py
Restart=always
RestartSec=2
User=root
Group=root

[Install]
WantedBy=multi-user.target
